.save-button {
  width: 100px;
  background-color: blue;
  color: white;
}

.cancel-button {
  width: 100px;
  background-color: red;
  color: white;
}

.page-container 
{
  width: 100%;
  height: 100vh; 
  box-sizing: border-box;
  background-color: white;
}

.hint
{
  font-size: smaller;
 color:red;
}